RewriteEngine On
RewriteBase /

RewriteRule ^app/(.+).html$ view.php?nama=$1 [L]
RewriteRule ^search/(.+)$ searching.php?q=$1 [L]
RewriteRule ^category/(.+)$ category.php?cat=$1 [L]
RewriteRule ^about.html$ about.php [L]
RewriteRule ^contact.html$ contact.php [L]

RewriteRule ^sitemap.xml$ sitemap.php [L]
RewriteRule ^sitemap-index-(.+).xml$ sitemap-index.php?page=$1 [L]

Options -Indexes
ErrorDocument 402 /index.php
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 500 /index.php
